<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bef.rest">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <service android:name=".PushService" />
        <service
            android:name=".BackgroundService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <receiver
            android:name=".BefrestConnectivityChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>